.pdf-container {
    position: relative;
    margin: 60px auto 100px;
}

.pdf-link {
    background-color: lightblue;
    opacity: 0;
    position: absolute;
    width: 22.5%;
    height: 5%;
    right: 9.5%;
}

.pdf-link-1 {
    top: 26.00%;
    pointer-events: none;
}

.pdf-link-2 {
    top: 39.25%;
    pointer-events: none;
}

.pdf-link-3 {
    top: 49.00%;
    pointer-events: none;
}

.pdf-link-4 {
    top: 63.50%;
    pointer-events: none;
}

.pdf-link-5 {
    top: 72.50%;
    pointer-events: none;
}

.pdf-link-6 {
    top: 88.50%;
    pointer-events: none;
}

.postponed {
    position: absolute;
    width: 95.5%;
    height: 20%;
    right: 2.5%;
    opacity: .8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.postponed-1 {
    background-color: #fecd07;
    top: 25%;
}

.postponed-2 {
    background-color: #179fdb;
    top: 48%;
}

.postponed-3 {
    background-color: #7bbf43;
    top: 72%;
}

.postponed h2 {
    font-size: 48px;
    color: #3a0e79;
}

@media (min-width:768px) {
    .pdf-link {
        height: 4.50%;
    }

    .pdf-link-1 {
        top: 27.00%;
    }

    .pdf-link-2 {
        top: 39.25%;
    }

    .pdf-link-3 {
        top: 47.00%;
    }

    .pdf-link-4 {
        top: 59.50%;
    }

    .pdf-link-5 {
        top: 67.50%;
    }

    .pdf-link-6 {
        top: 80.50%;
    }

    .postponed {
        height: 19%;
    }

    .postponed-1 {
        top: 26%;
    }

    .postponed-2 {
        top: 47.5%;
    }

    .postponed-3 {
        top: 70%;
    }
}

@media (min-width:991px) {
    .pdf-link-1 {
        top: 26.75%;
    }

    .pdf-link-2 {
        top: 39.25%;
    }

    .pdf-link-3 {
        top: 47.50%;
    }

    .pdf-link-4 {
        top: 60.50%;
    }

    .pdf-link-5 {
        top: 68.50%;
    }

    .pdf-link-6 {
        top: 82.50%;
    }

    .postponed {}

    .postponed-3 {
        top: 67%;
    }
}

@media (min-width:1200px) {
    .pdf-link-1 {
        top: 26.50%;
    }

    .pdf-link-2 {
        top: 39.25%;
    }

    .pdf-link-3 {
        top: 48.25%;
    }

    .pdf-link-4 {
        top: 61.50%;
    }

    .pdf-link-5 {
        top: 70.00%;
    }

    .pdf-link-6 {
        top: 84.50%;
    }

    .postponed-1 {
        top: 26%;
    }

    .postponed-2 {
        top: 47.5%;
    }

    .postponed-3 {
        top: 69%;
    }
}